@model IEnumerable<BookStore.Models.Book>
@{
    ViewData["Title"] = "Каталог товаров";
}
<h3>Книги <a href="~/Home/Orders"> <img src="/Image/2.png" style="margin-left: 900px;"/> </a>  </h3>
<table width="100%" cellspacing="0" cellpadding="2" border="0" class="table-condensed">
    <tr>
        <td align="center" class="transparent">Обложка</td>
        <td align="center">Название</td>
        <td align="center">Автор</td>
        <td align="center">Цена</td>
        <td></td>
    </tr>
    @foreach (var book in Model)
    {
        <tr>
            <td align="center"><img src="@Url.Content(@book.ProductImageName)" width="80" height="100" class="scale" /></td>
            <td align="center">@book.Title</td>
            <td align="center">@book.Author</td>
            <td align="center">@book.Price</td>
            <td><a href="~/Home/Buy/@book.Id">Купить</a></td>
        </tr>
    }
</table>